
    <section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="assets/img/slides/flexslider/1.jpg">
                  <img src="assets/img/slides/flexslider/1.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/2.jpg">
                  <img src="assets/img/slides/flexslider/2.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/3.jpg">
                  <img src="assets/img/slides/flexslider/3.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/4.jpg">
                  <img src="assets/img/slides/flexslider/4.jpg" alt="" />
                </li>
                <!-- <li data-thumb="assets/img/slides/flexslider/5.jpg">
                  <img src="assets/img/slides/flexslider/5.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/6.jpg">
                  <img src="assets/img/slides/flexslider/6.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/7.jpg">
                  <img src="assets/img/slides/flexslider/7.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/8.jpg">
                  <img src="assets/img/slides/flexslider/8.jpg" alt="" />
                </li>
                 <li data-thumb="assets/img/slides/flexslider/9.jpg">
                  <img src="assets/img/slides/flexslider/9.jpg" alt="" />
                </li>
                 <li data-thumb="assets/img/slides/flexslider/10.jpg">
                  <img src="assets/img/slides/flexslider/10.jpg" alt="" />
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
