
    <section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="assets/img/slides/flexslider1/1.jpg">
                  <img src="assets/img/slides/flexslider1/1.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider1/2.jpg">
                  <img src="assets/img/slides/flexslider1/2.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider1/3.jpg">
                  <img src="assets/img/slides/flexslider1/3.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider1/4.jpg">
                  <img src="assets/img/slides/flexslider1/4.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider1/5.jpg">
                  <img src="assets/img/slides/flexslider1/5.jpg" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
