<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} – Moli Sati Dadi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
       
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/custom-styles.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/font-awesome-ie7.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
            <div class="header-wrapper">
                <div class="site-header">
                    <div class="container">
                        <div class="site-name">
                            <h1>ॐ जय मोली सती दादी जी</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="menu">
                            <div class="navbar">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <i class="fw-icon-th-list"></i>
                                </a>
                                <div class="nav-collapse collapse">
                                    <ul class="nav">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="katha.html">Katha</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="tithi.html">Tithi Calendar</a></li>
                                        <li><a href="bhajans.html">Bhajans</a></li>
                                        <li><a href="temple.html">Temple</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                            <div class="mini-menu">
            <label>
          <select class="selectnav">
            <option href="index.html"; selected="">Home</option>
            <option href="gallery.html">Gallery</option>
            <option href="tithi.html">Tithi Calendar</option>
            <option href="bhajans.html">Bhajans</option>
            <option href="temple.html">Temple</option>
            <option href="katha.html">Katha</option>
            <option href="contact.html">Contact</option>
          </select>
          </label>
          </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                <div class="banner">
                    <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="img/banner-image.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="img/bg.jpg" alt="">
                            </div>
                            <div class="item active">
                                <img src="img/bg2.jpg" alt="">
                            </div>
                        </div>
                        <a data-slide="prev" href="#myCarousel" class="carousel-control left"><i class="fw-icon-chevron-left"></i></a>
                        <a data-slide="next" href="#myCarousel" class="carousel-control right"><i class="fw-icon-chevron-right"></i></a>
                    </div>
                </div>
                </div>
            </div>
            <div class="h2o">
                <h1 style="text-align: center; background-color: #FFA500">{{ page.title }}</h1>
            </div>
            <div class="maps22">{{ content }}</div>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="footer-links">
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Copyright (c) 2017</span><br>All rights reserved. 
                               </div>
                            </div>
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Designed by: </span><br><a href="http://www.kunalbagaria.com">Kunal Bagaria</a>
                               </div>
                            </div>
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Images From:  </span><br>
                                    <p>Moli Sati Dadi Temple</p>
                               </div>
                            </div>
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Contact</span><br>
                                    <p>kb24x7@gmail.com</p> 
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer">
                        <div class="row-fluid">
                        <div class="social span3">
                            <ul>
                                <li><a href="#"><i class="fw-icon-facebook-sign"></i></a></li>
                                <li><a href="#"><i class="fw-icon-twitter-sign"></i></a></li>
                                <li><a href="#"><i class="fw-icon-linkedin-sign"></i></a></li>
                                <li><a href="#"><i class="fw-icon-pinterest-sign"></i></a></li>
                                <li><a href="#"><i class="fw-icon-phone-sign"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-menu span9">  
                        </div>
                    </div>
                    </div>
                </div>
            </div>
       <script src="js/jquery-1.9.1.js"></script> 
<script src="js/bootstrap.js"></script>
<script>
$('#myCarousel').carousel({
    interval: 1800
});
</script>
    </body>
</html>
